@import "tailwindcss";

:root {
  --background: #0f172a; 
  --foreground: #e5e7eb; 
}

html[data-theme="dark"] {
  --background: #020617;
  --foreground: #f8fafc;
}

html[data-theme="blue"] {
  --background: #0f172a;
  --foreground: #e5e7eb;
}

html[data-theme="dim"] {
  --background: #020617;
  --foreground: #cbd5f5;
}

html[data-theme="erotic"] {
  --background: #0a0612;
  --foreground: #f3e8ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #0f172a; 
  --foreground: #e5e7eb; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
